table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.headers {
    font-size: 18px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

th {
    border: 2px solid #aabcfe;
}

td {
    text-align: center;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}
.subtab0 tr:hover td {
    background: #ccddff; 
}

.subtab1 tr:hover td {
    background: #ccddff; 
}

